
SUDO_PW = "..."

POSTGRES_DB = "your_db_name"
POSTGRES_HOST="localhost"
POSTGRES_PORT="5432"
POSTGRES_USER="postgres"
POSTGRES_PASSWORD="your_password_here"

OPENAI_API_KEY = "sk-..."

DEEPSEEK_API_KEY = "sk-..."

LLAMAINDEX_CLOUD_KEY = "llx-..."

NEO4J_CLOUD_PASSWORD = "..."