llama-index-embeddings-openai 
llama-index-postprocessor-flag-embedding-reranker 
git clone git+https://github.com/FlagOpen/FlagEmbedding.git 
llama-index-graph-stores-neo4j 
llama-index-vector-stores-faiss