pip install llama-cloud>=1.0
pip install llama-index-llms-deepseek
pip install llama-index-embeddings-openai 
pip install torch sentence-transformers
pip install llama-index-graph-stores-neo4j 
streamlit